@font-face {
    font-family: 'Poppins';
    src: local('Poppins-Regular'), local('Poppins-Regular'),
        url('./../fonts/Poppins-Regular.woff2') format('woff2'),
        url('./../fonts/Poppins-Regular.woff') format('woff'),
        url('./../fonts/Poppins-Regular.eot') format('eot'),
        url('./../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'SourceSansPro';
    src: local('SourceSansPro Regular'), local('SourceSansPro Regular'),
        url('./../fonts/SourceSansPro-Regular.woff2') format('woff2'),
        url('./../fonts/SourceSansPro-Regular.woff') format('woff'),
        url('./../fonts/SourceSansPro-Regular.eot') format('eot'),
        url('./../fonts/SourceSansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }